*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.bat text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.bin binary
*.pak binary
*.db binary
*.bmhm binary
*.ttb binary
*.hfl binary
*.stm binary
*.chl binary
*.chx binary
*.chr binary
*.mon binary
*.bsad binary
*.beff binary
*.befl binary
*.dds binary
*.tga binary
*.tif binary
*.bmp binary
*.wav binary
*.mp3 binary
*.m3d binary
*.mhd binary
